<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<!--
    Name: code.html
    Version: 0.1
    Description : 로그 페이지
    Author: 변예린
-->
  <head>
    <th:block th:replace="@{/include/header}"></th:block>
    <style>
      .radio {
        margin-left: 20px;
        color: #858585;
      }

      .wrapper {
        display: flex;
        flex-wrap: wrap;
        font-size: medium;
        font-weight: bold;
      }

      .wrapper .child {
        box-sizing: border-box;
        /* border-bottom: 1px solid black; */
      }
    </style>
  </head>
  <body>
    <header class="nk-header nk-header-opaque"> 
      <div th:replace="@{/include/head}"></div>
      <script th:src="@{/resources/js/validation.js}"></script>
    </header>
    <th:block th:replace="@{/include/mobile_body}"></th:block>
    <div class="nk-main bg-white">
      <div class="container">
        <div class="nk-gap-5 mnt-10"></div>
        <div class="row vertical-gap">
          <div class="col-lg">
            <!-- START: Info -->
            <h2>Log List</h2>
            <div class="nk-gap mnt-3"></div>
              <div style="display:table; width:1000px;">
                <div class="wrapper" style="display:table-row">
                    <div class="child" style="display:table-cell">Log Type</div>
                    <div class="child" style="display:table-cell">Log Ip</div>
                    <div class="child" style="display:table-cell">Log Info</div>
                    <div class="child" style="display:table-cell">Log User No</div>
                    <div class="child" style="display:table-cell">Log Uri</div>
                    <div class="child" style="display:table-cell">Log Date</div>
                    <div class="child" style="display:table-cell">Log Time</div>
                </div>
                <ul style="display:table-row" th:each="log:${logList}">
                  <li class="child" style="display:table-cell" th:text="${log.logType}"></li>
                  <li class="child" style="display:table-cell" th:text="${log.logIp}"></li>
                  <li class="child" style="display:table-cell" th:text="${log.logInfo}"></li>
                  <li class="child" style="display:table-cell" th:text="${log.logUserNo}"></li>
                  <li class="child" style="display:table-cell" th:text="${log.logUri}"></li>
                  <li class="child" style="display:table-cell" th:text="${log.log_date}"></li>
                  <li class="child" style="display:table-cell" th:text="${log.log_time}"></li>
                </ul>
                <!-- <div style="display:table-row" th:each="log:${logList}"> 
                    <div class="child" style="display:table-cell" th:text="${log.logType}"></div>
                    <div class="child" style="display:table-cell" th:text="${log.logIp}"></div>
                    <div class="child" style="display:table-cell" th:text="${log.logInfo}"></div>
                    <div class="child" style="display:table-cell" th:text="${log.logUserNo}"></div>
                    <div class="child" style="display:table-cell" th:text="${log.logUri}"></div>
                    <div class="child" style="display:table-cell" th:text="${log.log_date}"></div>
                    <div class="child" style="display:table-cell" th:text="${log.log_time}"></div>
                </div> -->
              </div>
          </div>

        </div>
        <div class="nk-gap-5"></div>
      </div>
      <!-- END: Contact Info -->
      <th:block th:replace="@{/include/footer}"></th:block>
    </div>
    <script>
      
    </script>
  </body>
</html>