<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<!--
    Name: push.html
    Version: 0.1
    Description : 푸시 페이지
    Author: 한승현
-->
  <head>
    <th:block th:replace="@{/include/header}"></th:block>
  </head>
  <body>
    <header class="nk-header nk-header-opaque">
      <div th:replace="@{/include/head}"></div>
    </header>
    <th:block th:replace="@{/include/mobile_body}"></th:block>
    <div class="nk-main bg-white">
      <div class="container">
        <div class="nk-gap-5 mnt-10"></div>
        <div class="row vertical-gap">
          <div class="col-lg-5">
            <!-- START: Info -->
            <h2>Push List</h2>
            <div class="nk-gap mnt-3"></div>
            <ul class="nk-contact-info">
              <li><strong style="color: #10c9c3;">푸시허용 리스트</strong></li>
              <li th:each="user :${userList}" th:onclick="clickUser([[${user}]])" th:text="'ID : '+${user}"></li>
            </ul>
            <!-- END: Info -->
          </div>
          
          <div class="col-lg-7">
            <input type="text" class="form-control" id="userId" placeholder="유저를 입력하세요." maxlength="500">
            <div class="nk-gap-1"></div>
            <input type="text" class="form-control" id="token" placeholder="토큰을 입력하세요." maxlength="500">
            <div class="nk-gap-1"></div>
            <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요." maxlength="500">
            <div class="nk-gap-1"></div>
            <input type="text" class="form-control" id="body" placeholder="내용을 입력하세요" maxlength="200">
            <div class="nk-gap-1"></div>
            <br/>
            <button type="button" th:onclick="push()" class="nk-btn" title="보내기">Push</button>
            <button type="button" th:onclick="insert()" class="nk-btn" title="저장">Insert</button>
          </div>
        </div>
        <div class="nk-gap-5"></div>
      </div>
      <!-- END: Contact Info -->
      <th:block th:replace="@{/include/footer}"></th:block>
    </div>
    <script>
      //push버튼 클릭 시
      function push() {
        var title = $('#title').val()
        var body = $('#body').val()
        var userId = $('#userId').val()
        var token = $('#token').val()
        var data = {}
        var url = '/admin/push/send.do'
        if(!!checkInfo(title, body)) return

        if(!token && !userId) {
          swal.fire({
            icon: "warning",
            title: "유저 또는 토큰값을 입력하세요."
          });
          return
        }

        if(!token) { //유저 전송 시
          data = {
            title : title,
            body : body,
            userId : userId,
          }
        }
        else { //토큰 전송 시
          url = '/admin/push/sendToken.do'
          data = {
            title : title,
            body : body,
            token : token,
          }
        }

        $.ajax({
          type: 'POST',
          url: url,
          data: data,
          dataType: 'json',
          success : function(data) {
            if(data == '2') {
              swal.fire('푸시 실패', '', 'error').then(result => {location.reload()});
            }
            else {
              swal.fire('푸시 완료', data, 'success').then(result => {location.reload()});
            }
          },
          error : function(request,status,error) {
            //만료 토큰이 존재하면 error로 떨어짐.
            swal.fire('푸시 완료', request.responseText, 'success').then(result => {location.reload()});
          }
        });
      }

      //push전 validation
      function checkInfo(title, body) {
        if(!title) {
          $('#title').next().text('제목을 입력해주세요.').css('color', 'rgb(255 24 24)')
          $('#title').focus()
          return 1
        }
        $('#title').next().text('')
        if(!body) {
          $('#body').next().text('내용을 입력해주세요.').css('color', 'rgb(255 24 24)')
          $('#body').focus()
          return 1
        }
        $('#body').next().text('')
      }

      // 유저리스트 유저 클릭 시
      function clickUser(token) {
        $('#userId').val(token)
      }

      //insert버튼 클릭 시
      function insert() {
        var token = $('#token').val()
        $.ajax({
          type: 'POST',
          url: '/token/save.do',
          data: {tokenId:token},
          dataType: 'json',
          success : function(data) {
            swal.fire('생성 완료', '', 'success').then(result => {location.reload()});
          }
        });
      }
    </script>
  </body>
</html>