<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<!--
    Name: resource.html
    Version: 0.1
    Description : 리소스 페이지
    Author: 한승현
-->
  <head>
    <th:block th:replace="@{/include/header}"></th:block>
  </head>
  <body>
    <header class="nk-header nk-header-opaque">
      <th:block th:replace="@{/include/head}"></th:block>
      <script src="https://d3js.org/d3.v5.min.js"></script>
    </header>
    <th:block th:replace="@{/include/mobile_body}"></th:block>
    <div class="nk-main bg-white">
      <div class="container">
        <div class="nk-gap-5 mnt-10"></div>
        <div class="row vertical-gap">
          <div class="col-lg-5">
            <!-- START: Info -->
            <h2>Memory Info</h2>
            <div class="nk-gap mnt-3"></div>
            <div id="mem-chart"></div>
            <!-- END: Info -->
          </div>
          <div class="col-lg-5">
            <!-- START: Info -->
            <h2>CPU Info</h2>
            <div class="nk-gap mnt-3"></div>
            <div id="cpu-chart"></div>
            <!-- END: Info -->
          </div>
          <div class="col-lg-5">
            <!-- START: Info -->
            <h2>Disk Info</h2>
            <div class="nk-gap mnt-3"></div>
            <div id="disk-chart"></div>
            <!-- END: Info -->
          </div>
        </div>
        <div class="nk-gap-5"></div>
      </div>
      <!-- END: Contact Info -->
      <th:block th:replace="@{/include/footer}"></th:block>
    </div>
    <script>
      makeChart('mem', '[[${memory[0]}]]')
      makeChart('disk', '[[${disk[2]}]]')
      makeChart('cpu', '[[${cpu[0]}]]')
      function makeChart(type, percent) {
        let tagId;
        if(type === 'mem') {
          tagId = '#mem-chart'
        }
        else if(type === 'disk') {
          tagId = '#disk-chart'
        }
        else if(type === 'cpu') {
          tagId = '#cpu-chart'
        }

        // 도넛 차트 크기 및 설정
        const width = 300;
        const height = 300;
        const radius = Math.min(width, height) / 2;
  
        // 색상 정의
        const color = d3.scaleOrdinal(["#556892", "#d9d9d9"]);
  
        // 도넛 차트 생성
        const svg = d3.select(tagId)
          .append("svg")
          .attr("width", width)
          .attr("height", height)
          .append("g")
          .attr("transform", `translate(${width / 2},${height / 2})`);
  
        // 데이터 바인딩
        const data = [percent, 100 - percent];
  
        // 파이 차트 생성
        const pie = d3.pie();
        const arc = d3.arc()
          .innerRadius(radius - 60)
          .outerRadius(radius);
  
        // 도넛 차트에 그래픽 요소 추가
        svg.selectAll("path")
          .data(pie(data))
          .enter()
          .append("path")
          .attr("d", arc)
          .attr("fill", (d, i) => color(i));
  
        // 퍼센트 텍스트 추가
        svg.append("text")
          .attr("text-anchor", "middle")
          .attr("dy", ".3em")
          .text(`${percent}%`)
          .style("font-size", "24px");
      }
        
      function enterkey() {
        if(window.event.keyCode == 13) login()
      }
    </script>
  </body>
</html>