<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<!--
    Name: insertFrom.html
    Version: 0.1
    Description : 포트폴리오화면 등록
    Author: 한승현
-->
  <head>
    <th:block th:replace="@{/include/header}"></th:block>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.48.4/codemirror.min.css"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
  </head>
  <body>
    <header class="nk-header nk-header-opaque">
      <div th:replace="@{/include/head}"></div>
      <script th:src="@{/resources/js/validation.js}"></script>
    </header>
    <th:block th:replace="@{/include/mobile_body}"></th:block>
    <div class="nk-main bg-white">
      <div class="container">
        <div class="nk-gap-5 mnt-10"></div>

        <div class="row">
          <form id="boardForm" action="/board/admin/insertBoard.do" style="width: 100%;" method="POST">
              <input type="text" class="form-control required" id="boardTitle" name="boardTitle" placeholder="제목을 입력하세요" maxlength="100" >
              <div class="nk-gap-1"></div>
              <div id="editor"></div>
              <p></p>
              <input type="hidden" id="userNo" value="${userVo.userNo}">
              <input type="hidden" id="boardContent">
              <button th:if="${status != 'update'}" type="button" th:onclick="promptTitle()" class="nk-btn" title="등록하기">Insert</button>
              <button th:if="${status == 'update'}" type="button" th:onclick="promptTitle()" class="nk-btn" title="수정하기">Update</button>
            </form>
        </div>
        <div class="nk-gap-5"></div>
      </div>
      <!-- END: Contact Info -->
      <th:block th:replace="@{/include/footer}"></th:block>
    </div>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
      var status = '[[${status}]]'
      var userNo = '[[${user.userNo}]]'

      $(document).ready(function() {
        //서버에서 넘겨준 데이터는 특수문자가 치환되기때문에 페이지가 로드되고난 뒤 비동기로 데이터를 불러와 입력.
        var boardNo = '[[${boardNo}]]';
        if(!!boardNo) {
          $.ajax({
            type: 'GET',
            url: '/board/getBoard/'+boardNo,
            error: function(xhr, status, error) {
              console.log('error')
            },
            success: function(data) {
              $('#boardTitle').val(data.boardTitle)
              editor.setHTML(data.boardContent)
            }
          })
        }
      })

      //에디터 초기화
      var editor = new toastui.Editor({
        el: document.querySelector('#editor'),
        previewStyle: 'vertical',
        height: '700px',
        hooks: {
          //이미지가 base64처리 되는걸 방지
          async addImageBlobHook(blob, callback) {
            try {
              const formData = new FormData()
              formData.append('image', blob)
              const response = await fetch('/file/upload/image.do', {
                  method : 'POST',
                  body : formData,
              });
              const filename = await response.text();
              const imageUrl = '/file/print/resizeImage.do?filename='+filename
              callback(imageUrl, 'image alt attribute')
            } catch (error) {
              console.error('업로드 실패 : ', error)
            }
          }
        }
      });

      //제목입력을 위한 prompt
      function promptTitle() {
        var boardContent = editor.getHTML()
        if(boardContent == '<p><br></p>') {
          swal.fire('내용을 입력하세요', '', 'warning')
          return
        }

        Swal.fire({
          title: 'Project Thumbnail',
          input: 'file',
          showCancelButton: true,
          allowOutsideClick: false,
          inputAttributes: {
            "accept": "image/*",
            "aria-label": "Upload your profile picture"
          }
        })
        .then(async (result)=>{
          //ok버튼 클릭 시
          if(result.isConfirmed) {
            var filename;
            if(result.value) {
              try {
                const formData = new FormData()
                formData.append('image', result.value)
                const response = await fetch('/file/upload/image.do', {
                    method : 'POST',
                    body : formData,
                });
                filename = await response.text()
              } catch (error) {
                console.error('업로드 실패 : ', error)
              }
            }
            if(status == 'update') {
              update(filename, boardContent)
            }
            else{
              insert(filename, boardContent)
            }
          }
        })
      }

      //인서트 로직
      function insert(filename, boardContent) {
        var boardTitle = $('#boardTitle').val()
        if(!filename) filename = 'default';
        
        $.ajax({
          type: 'POST',
          url: '/board/admin/insertBoard.do',
          data: {
            userNo: userNo,
            boardTitle: boardTitle,
            boardContent: boardContent,
            boardThumbnail: filename,
          },
          dataType: 'json',
          error: function(xhr, status, error) {
            swal.fire('error', '다시 시도해주세요.', 'error');
          },
          success : function(data) {
            if(data == -1) {
              swal.fire('생성 실패', '다시 시도해주세요.', 'warning');
            }
            else {
              swal.fire('생성 완료', '', 'success').then((result) => {location.href = '/board/view/'+data});
            }
          }
        });
      }

      //업데이트 로직
      function update(filename, boardContent) {
        var boardTitle = $('#boardTitle').val()
        var boardNo = '[[${boardNo}]]'

        $.ajax({
          type: 'POST',
          url: '/board/admin/updateBoard.do',
          data: {
            boardNo: boardNo,
            userNo: userNo,
            boardTitle: boardTitle,
            boardContent: boardContent,
            boardThumbnail: filename,
          },
          dataType: 'json',
          error: function(xhr, status, error) {
            swal.fire('error', '다시 시도해주세요.', 'error');
          },
          success: function(data) {
            if(data == -1) {
              swal.fire('생성 실패', '다시 시도해주세요.', 'warning');
            }
            else {
              swal.fire('수정 완료', '', 'success').then((result) => {location.href = '/board/view/'+boardNo});
            }
          }
        });
      }
    </script>
  </body>
</html>