<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<!--
    Name: insertFrom.html
    Version: 0.1
    Description : 게시판등록 페이지
    Author: 한승현
-->
  <head>
    <th:block th:replace="@{/include/header}"></th:block>
  </head>
  <body>
    <header class="nk-header nk-header-opaque">
      <div th:replace="@{/include/head}"></div>
      <script th:src="@{/resources/js/validation.js}"></script>
    </header>
    <th:block th:replace="@{/include/mobile_body}"></th:block>
    <div class="nk-main bg-white">
      <div class="container">
        <div class="nk-gap-5 mnt-10"></div>
        <h2>Board Form</h2>
        <div class="row">
            <form id="joinForm" style="width: 100%;" method="POST">
              <textarea name="content" id="contents"></textarea>
              <p></p>
              <button type="button" th:onclick="issue()" class="nk-btn" title="등록하기">Insert Board</button>
            </form>
        </div>
        <div class="nk-gap-5"></div>
      </div>
      <!-- END: Contact Info -->
      <th:block th:replace="@{/include/footer}"></th:block>
    </div>
    <script>
      function join() {
        var formData = $('#joinForm').serialize()
        $.ajax({
          type : 'POST',
          url : '/join/submit.do',
          data : formData,
          dataType : 'json',
          error: function(xhr, status, error) {
            swal.fire('error', '다시 시도해주세요.', 'error');
          },
          success : function(data) {
            if(data == -1) {
              swal.fire('생성실패', '다시 시도해주세요.', 'warning');
            }
            else {
              swal.fire('success', '생성이 완료됐습니다.', 'success').then(result => {location.href='/login'});
            }
          }
        });
      }
    </script>
  </body>
</html>