<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<!--
    Name: viewForm.html
    Version: 0.1
    Description : 포트폴리오화면
    Author: 한승현
-->
  <head>
    <th:block th:replace="@{/include/header}"></th:block>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />
    <style>
      .boardBtn{
        width: 70px;
        display: inline-block;
        text-align: center;
        background-color: #10c9c3;
        color: #fff;
        border-radius: 10px;
      }
      .boardBtn:hover {
        background-color: #05817c;
      }
    </style>
  </head>
  <body>
    <header class="nk-header nk-header-opaque">
      <div th:replace="@{/include/head}"></div>
      <script th:src="@{/resources/js/validation.js}"></script>
    </header>
    <th:block th:replace="@{/include/mobile_body}"></th:block>
    <div class="nk-main bg-white">
      <div class="container">
        <div class="nk-gap-5 mnt-10"></div>
        <div style="text-align: center;">
          <h1 id="boardTitle" style="margin-bottom: 80px; font-weight: bold;"></h1>
          <div id="viewer"></div>

          <div th:if="${userRole == 'admin'}" style="margin-top: 30px;">
            <div class="boardBtn" id="modiftyBtn">수정</div>
            <div class="boardBtn" id="deleteBtn">삭제</div>
            <div th:if="${boardHideYn == 'N'}" class="boardBtn" id="hideBtn">숨김</div>
            <div th:if="${boardHideYn == 'Y'}" class="boardBtn" id="hideBtn">숨김해제</div>
          </div>
          <div class="nk-gap-5"></div>
        </div>
      </div>
      <!-- END: Contact Info -->
      <th:block th:replace="@{/include/footer}"></th:block>
    </div>
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
      var boardNo = '[[${boardNo}]]'
      var hideYn = '[[${boardHideYn}]]'
      $(document).ready(function() {
        const viewer = toastui.Editor.factory({
          el: document.querySelector("#viewer"),
          viewer: true,
          height: "500px",
        });

        $.ajax({
          type : 'GET',
          url : '/board/getBoard/'+boardNo,
          error:function(xhr, status, error) {
            swal.fire('error', '다시 시도해주세요.', 'error')
          },
          success : function(data) {
            if(!data) {
              swal.fire('','삭제되거나 존재하지 않는 게시글입니다.','warning').then( () => {location.href='/'})
              return
            }
            $('#boardTitle').text(data.boardTitle)
            viewer.setMarkdown(data.boardContent)
          }
        })

        $('#modiftyBtn').on('click', function() {
          swal.fire({
            text:'수정하시겠습니까?',
            showCancelButton: true,
            allowOutsideClick: false,
            confirmButtonText: '수정',
            cancelButtonText: '취소',
          }).then((result) => {
            if(result.isConfirmed) {
              location.href = '/board/admin?boardNo='+boardNo
            }
          })
        })

        $('#deleteBtn').on('click', function() {
          swal.fire({
            text:'삭제하시겠습니까?',
            showCancelButton: true,
            allowOutsideClick: false,
            confirmButtonText: '삭제',
            cancelButtonText: '취소',
          }).then((result) => {
            if(result.isConfirmed) {
              location.href = '/board/admin/delete.do?boardNo='+boardNo
            }
          })
        })

        $('#hideBtn').on('click', function() {
          var text = '숨김처리 하시겠습니까?'
          if(hideYn == 'Y') {
            text = '숨김해제 하시겠습니까?'
          }
          swal.fire({
            text: text,
            showCancelButton: true,
            allowOutsideClick: false,
            confirmButtonText: '승인',
            cancelButtonText: '취소',
          }).then((result) => {
            if(result.isConfirmed) {
              $.ajax({
                type : 'POST',
                url : '/board/admin/hide.do',
                data:{
                  boardNo : boardNo,
                  boardHideYn : hideYn
                },
                success : function(data) {
                  if(data == 1) swal.fire('','수정 되었습니다.', 'success').then(() => {location.reload()})
                }
              })
            }
          })
        })
      });
    </script>
  </body>
</html>