<!-- <footer class="nk-footer">
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-lg-5">
                <h3 class="h5 mb-20">Piroll Design, Inc.</h3>
                <p class="mb-0">&copy; 2017 Piroll. All rights reserved. <br> Design by robirurk. Code by nK.</p>
            </div>
            <div class="col-lg-3">
                <span class="">tmdgus4720@naver.com</span>
                <br> 010-4720-5289
            </div>
            <div class="col-lg-2">
                <div class="nk-links-list">
                    <ul>
                        <li><a href="/">Projects</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1">
                <div class="nk-links-list">
                    <ul>
                        <li><a href="https://velog.io/@tmdgus4720"><img class="fa favicon" th:src="@{/resources/images/favicons/velog.png}">Velog</a></li>
                        <li><a href="https://github.com/HanSeungHyeon"><img class="fa favicon" th:src="@{/resources/images/favicons/github.png}">GitHub</a></li>
                        <li><a href="https://tarry-ear-9d5.notion.site/be7352d0ed984d4b99d65de8f4eae3bc?pvs=4"><img class="fa favicon" th:src="@{/resources/images/favicons/Notion.png}">Notion</a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i>인스타그램</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer> -->
<!-- <link rel="stylesheet" href="assets/css/templatemo-hexashop.css"> -->
<link rel="stylesheet" th:href="@{/resources/css/templatemo-hexashop.css}">
<!-- ***** Footer Start ***** -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="first-item">
                    <div class="logo">
                        <!-- <img src="assets/images/white-logo.png" alt="hexashop ecommerce templatemo"> -->
                        <img src="/footerImage.png" alt="SelLF Portfolio" width="250">
                    </div>
                    <ul>
                        <!-- <li><a href="#">16501 Collins Ave, Sunny Isles Beach, FL 33160, United States</a></li> -->
                        <li><a href="#">tmdgus4720@naver.com</a></li>
                        <li><a href="#">010-4720-5289</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="/">Main</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>Information</h4>
                <ul>
                    <li><a href="/about">About Me</a></li>
                    <li><a href="/history">History</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h4>SNS</h4>
                <ul>
                    <li><a href="https://velog.io/@tmdgus4720">Velog</a></li>
                    <li><a href="https://github.com/HanSeungHyeon">GitHub</a></li>
                    <li><a href="https://tarry-ear-9d5.notion.site/be7352d0ed984d4b99d65de8f4eae3bc?pvs=4">Notion</a></li>
                </ul>
            </div>
            <div class="col-lg-12">
                <div class="under-footer">
                    <p>Copyright © 2022 HexaShop Co., Ltd. All Rights Reserved. 
                    
                    <!-- <br>Design: <a href="https://templatemo.com" target="_parent" title="free css templates">TemplateMo</a></p> -->
                    <ul>
                        <!-- <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li> -->
                        <li><a href="https://velog.io/@tmdgus4720"><img class="fa favicon" th:src="@{/resources/images/favicons/velog.png}"></a></li>
                        <li><a href="https://github.com/HanSeungHyeon"><img class="fa favicon" th:src="@{/resources/images/favicons/github.png}"></a></li>
                        <li><a href="https://tarry-ear-9d5.notion.site/be7352d0ed984d4b99d65de8f4eae3bc?pvs=4"><img class="fa favicon" th:src="@{/resources/images/favicons/Notion.png}"></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

<script th:src="@{/resources/js/piroll.min.js}"></script>
<script th:src="@{/resources/js/piroll-init.js}"></script>