<footer class="nk-footer">
    <div class="container">
        <div class="row vertical-gap">
            <div class="col-lg-5">
                <h3 class="h5 mb-20">Piroll Design, Inc.</h3>
                <p class="mb-0">&copy; 2017 Piroll. All rights reserved. <br> Design by robirurk. Code by nK.</p>
            </div>
            <div class="col-lg-3">
                <span class="">tmdgus4720@naver.com</span>
                <br> 010-4720-5289
            </div>
            <div class="col-lg-2">
                <div class="nk-links-list">
                    <ul>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-1">
                <div class="nk-links-list">
                    <ul>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">GitHub</a></li>
                        <li><a href="#">Velog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>