<div class="etcDiv" style="height:32px; background-color: #fff;"></div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.getElementsByClassName('container')[0].style.display='block';
    document.getElementsByClassName('etcDiv')[0].style.display='none';
  });
</script>
<!-- 모바일 햄버거 버튼시작 -->
<nav class="nk-navbar nk-navbar-top">
    <div class="container" style="display: none;">
        <div class="nk-nav-table">
            <a href="/" class="nk-nav-logo">
                <img th:src="@{/resources/images/examples/logo.svg}" alt="" width="31">
            </a>
            <ul class="nk-nav nk-nav-right hidden-md-down" data-nav-mobile="#nk-nav-mobile">
                <li class="active nk-drop-item">
                    <a href="/"> Home </a>
                    <ul class="dropdown">
                        <li class="active">
                            <a href="/"> Minimal Portfolio </a>
                        </li>
                        <li>
                            <a href="home-2.html"> Masonry Portfolio </a>
                        </li>
                        <li>
                            <a href="home-3.html"> Classic Portfolio </a>
                        </li>
                        <li>
                            <a href="home-4.html"> Freelancer Portfolio </a>
                        </li>
                        <li>
                            <a href="home-5.html"> Slider Home </a>
                        </li>
                        <li>
                            <a href="home-6.html"> Fullscreen Slider </a>
                        </li>
                        <li>
                            <a href="home-7.html"> Agency Portfolio </a>
                        </li>
                        <li>
                            <a href="home-8.html"> Video Home </a>
                        </li>
                        <li>
                            <a href="home-9.html"> Creative Dark </a>
                        </li>
                    </ul>
                </li>
                <li class=" nk-drop-item">
                    <a href="/about"> About </a>
                    <ul class="dropdown">
                        <li>
                            <a href="/about"> About Me </a>
                        </li>
                        <li>
                            <a href="page-about-us.html"> About Us </a>
                        </li>
                        <li>
                            <a href="page-services.html"> Services </a>
                        </li>
                    </ul>
                </li>
                <li class=" nk-drop-item">
                    <a href="work-2-style-1.html"> Work </a>
                    <ul class="dropdown">
                        <li class=" nk-drop-item">
                            <a href="work-2-style-1.html"> 2 Columns </a>
                            <ul class="dropdown">
                                <li>
                                    <a href="work-2-style-1.html"> Style 1 </a>
                                </li>
                                <li>
                                    <a href="work-2-style-2.html"> Style 2 </a>
                                </li>
                                <li>
                                    <a href="work-2-style-3.html"> Style 3 </a>
                                </li>
                                <li>
                                    <a href="work-2-style-4.html"> Style 4 </a>
                                </li>
                                <li>
                                    <a href="work-2-style-5.html"> Style 5 </a>
                                </li>
                                <li>
                                    <a href="work-2-style-6.html"> Style 6 </a>
                                </li>
                                <li>
                                    <a href="work-2-wide.html"> Wide 1 </a>
                                </li>
                                <li>
                                    <a href="work-2-wide-2.html"> Wide 2 </a>
                                </li>
                                <li>
                                    <a href="work-2-wide-3.html"> Wide 3 </a>
                                </li>
                            </ul>
                        </li>
                        <li class=" nk-drop-item">
                            <a href="work-3-style-1.html"> 3 Columns </a>
                            <ul class="dropdown">
                                <li>
                                    <a href="work-3-style-1.html"> Style 1 </a>
                                </li>
                                <li>
                                    <a href="work-3-style-2.html"> Style 2 </a>
                                </li>
                                <li>
                                    <a href="work-3-style-3.html"> Style 3 </a>
                                </li>
                                <li>
                                    <a href="work-3-style-4.html"> Style 4 </a>
                                </li>
                                <li>
                                    <a href="work-3-style-5.html"> Style 5 </a>
                                </li>
                                <li>
                                    <a href="work-3-wide.html"> Wide </a>
                                </li>
                                <li>
                                    <a href="work-3-wide-2.html"> Wide 2 </a>
                                </li>
                                <li>
                                    <a href="work-3-metro-1.html"> Metro 1 </a>
                                </li>
                                <li>
                                    <a href="work-3-metro-2.html"> Metro 2 </a>
                                </li>
                            </ul>
                        </li>
                        <li class=" nk-drop-item">
                            <a href="work-4-style-1.html"> 4 Columns </a>
                            <ul class="dropdown">
                                <li>
                                    <a href="work-4-style-1.html"> Style 1 </a>
                                </li>
                                <li>
                                    <a href="work-4-style-2.html"> Style 2 </a>
                                </li>
                                <li>
                                    <a href="work-4-style-3.html"> Style 3 </a>
                                </li>
                                <li>
                                    <a href="work-4-metro-1.html"> Metro 1 </a>
                                </li>
                                <li>
                                    <a href="work-4-metro-2.html"> Metro 2 </a>
                                </li>
                            </ul>
                        </li>
                        <li class=" nk-drop-item">
                            <a href="work-single-1.html"> Single Work </a>
                            <ul class="dropdown">
                                <li>
                                    <a href="work-single-1.html"> Work 1 </a>
                                </li>
                                <li>
                                    <a href="work-single-2.html"> Work 2 </a>
                                </li>
                                <li>
                                    <a href="work-single-3.html"> Work 3 </a>
                                </li>
                                <li>
                                    <a href="work-single-4.html"> Work 4 </a>
                                </li>
                                <li>
                                    <a href="work-single-5.html"> Work 5 </a>
                                </li>
                                <li>
                                    <a href="work-single-6.html"> Work 6 </a>
                                </li>
                                <li>
                                    <a href="work-single-7.html"> Work 7 </a>
                                </li>
                                <li>
                                    <a href="work-single-8.html"> Work 8 </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li class=" nk-drop-item">
                    <a href="blog-masonry-3.html"> Blog </a>
                    <ul class="dropdown">
                        <li>
                            <a href="blog-masonry-3.html"> Masonry 3 columns </a>
                        </li>
                        <li>
                            <a href="blog-masonry-2.html"> Masonry 2 columns </a>
                        </li>
                        <li>
                            <a href="blog-single.html"> Single Post </a>
                        </li>
                    </ul>
                </li>
                <li class=" nk-drop-item">
                  <a href="/contact"> Contact </a>
                  <ul class="dropdown">
                      <li>
                          <a href="/contact"> Contact Me </a>
                      </li>
                      <li>
                          <a href="blog-single.html"> Single Post </a>
                      </li>
                      <li>
                        <a href="/join"> Join </a>
                    </li>
                  </ul>
              </li>
            </ul>
            <ul class="nk-nav nk-nav-right nk-nav-icons">
                <li class="single-icon hidden-lg-up">
                    <a href="#" class="nk-navbar-full-toggle">
                        <span class="nk-icon-burger">
                            <span class="nk-t-1"></span>
                            <span class="nk-t-2"></span>
                            <span class="nk-t-3"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>