<style>
.favicon {
    width:17px;
    height: 17px;
}

</style>
<!-- 모바일화면-->
<nav class="nk-navbar nk-navbar-full nk-navbar-align-center" id="nk-nav-mobile">
    <div class="nk-nav-table">
        <div class="nk-nav-row">
            <div class="container">
                <div class="nk-nav-header">
                    <div class="nk-nav-logo">
                        <a href="/" class="nk-nav-logo">
                            <!-- <img th:src="@{/resources/images/examples/logo-light.svg}" alt="" width="31"> -->
                            <img src="/favicon2.png" alt="" width="45">
                        </a>
                    </div>
                    <div class="nk-nav-close nk-navbar-full-toggle">
                        <span class="nk-icon-close"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-nav-row-full nk-nav-row">
            <div class="nano">
                <div class="nano-content">
                    <div class="nk-nav-table">
                        <div class="nk-nav-row nk-nav-row-full nk-nav-row-center nk-navbar-mobile-content">
                            <ul class="nk-nav">
                                <!-- Here will be inserted menu from [data-mobile-menu="#nk-nav-mobile"] -->
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="nk-nav-row">
            <div class="container">
                <div class="nk-nav-social">
                    <ul>
                        <!--벨로그, 깃허브, 노션, 인스타-->
                        <li><a href="https://velog.io/@tmdgus4720"><img class="fa favicon" th:src="@{/resources/images/favicons/velog.png}"></a></li>
                        <li><a href="https://github.com/HanSeungHyeon"><img class="fa favicon" th:src="@{/resources/images/favicons/github.png}"></a></li>
                        <li><a href="https://tarry-ear-9d5.notion.site/be7352d0ed984d4b99d65de8f4eae3bc?pvs=4"><img class="fa favicon" th:src="@{/resources/images/favicons/Notion.png}"></a></li>
                        <li><a href="https://www.instagram.com/unvab/"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- 모바일 화면 종료 -->