<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.portfolio.sellf.global.security.mapper.SecurityMapper">

  <!-- 시큐리티용 쿼리 -->
  <select id="selectOneUserByUserId" resultType="com.portfolio.sellf.global.security.vo.SecurityUserVo">
    SELECT
      USER_NO
      ,USER_ID
      ,USER_NAME
      ,USER_PASSWORD
      ,COALESCE(USER_ROLE,'USER') AS USER_ROLE
    FROM
      TB_USER
    WHERE
      USER_ID = #{userId}
    AND
      USER_DROP_YN = '0'
  </select>
</mapper>

