<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<!--
    Name: modify.html
    Version: 0.1
    Description : 정보수정페이지
    Author: 한승현
-->
  <head>
    <th:block th:replace="@{/include/header}"></th:block>
  </head>
  <body>
    <header class="nk-header nk-header-opaque">
      <div th:replace="@{/include/head}"></div>
      <script th:src="@{/resources/js/validation.js}"></script>
    </header>
    <th:block th:replace="@{/include/mobile_body}"></th:block>
    <div class="nk-main bg-white">
      <div class="container">
        <div class="nk-gap-5 mnt-10"></div>
        <div class="row vertical-gap">          
          <div class="col-lg-7">
            <form id="modifyForm" action="/modify/checkPassword.do" method="POST">
              <input type="password" class="form-control required" id="userPassword" name="userPassword" placeholder="비밀번호를 입력하세요" maxlength="30">
              <div class="nk-gap-1"></div>
              <button class="nk-btn" title="수정하기">Modify SelLF</button>
            </form>
          </div>
        </div>
        <div class="nk-gap-5"></div>
      </div>
      <!-- END: Contact Info -->
      <th:block th:replace="@{/include/footer}"></th:block>
    </div>
    <script>
      var message = '[[${message}]]'
      if(!!message) {
        swal.fire(message, '다시 시도해주세요.', 'warning')
      }
    </script>
  </body>
</html>