@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");
body{
  font-family: "Nunito Sans", 'Pretendard', sans-serif;
}

/* 메인 하트, 조회수 */
.nk-portfolio-item-info .info-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.85rem;
}

.nk-portfolio-item-info .info-top .portfolio-item-title {
  margin-bottom: 0 !important;
}

.info-top .date {
  margin-bottom: 0;
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.info-top .material-symbols-rounded {
  font-size: 1rem;
  margin-bottom: 0;
}

.info-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info-bottom .view {
  /* font-size: 0.85rem; */
  margin-bottom: 0;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-weight: 300;
}

/* 댓글 */
.comment-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 16px;
}

.primary{
  color: #10c9c3;
}
.wrap-comment{
  background: #fff;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  padding: 1.5rem;
  width: 100%;
}
.box-comment{
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #dfdfdf;
  margin-bottom: 1.5rem;
  font-family: "Nunito Sans", 'Pretendard', sans-serif;
}

.box-comment .d-flex{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 1rem;
}

.box-comment .d-flex:last-child{
  margin-bottom: 0;
}
.box-comment input, .input-comment{
  width: 160px;
  height: 48px;
  border: 1px solid #DFDFDF;
  border-radius: 10px;
  padding: 0 1rem;
  font-size: 1rem;
  font-weight: 400;
  font-family: "Nunito Sans", 'Pretendard', sans-serif;
  color: #111;
}

.box-comment .input-comment{
  width: 100%;
  height: 240px;
  padding: 1rem;
  resize: none;
}
.box-comment input::placeholder{
  color: #888888;
  font-family: "Nunito Sans", 'Pretendard', sans-serif;
}

.box-comment .btn-submit{
  padding: 0 30px;
  height: 48px;
  color: #10c9c3;
  font-size: 1rem;
  border-radius: 10px;
  border: 1px solid;
  background: #fff;
  font-family: "Nunito Sans", 'Pretendard', sans-serif;
  line-height: 1;
  padding-top: 3px;
  cursor: pointer;
  font-weight: 600;
  margin-left: auto;
}

.comment{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.comment.recomment{
  padding: 2rem;
  background: #f4fbfb;
}

.comment .comment-detail{

}

.comment .comment-detail .comment-top{
  display: flex;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.comment .comment-detail .name{
  color: #161722;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 0;
}
.comment .comment-detail .date{
  color: #666;
  font-size: 0.85rem;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}

.comment .comment-detail .comment-text{
  color: #161722;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  /* white-space: pre-wrap; */
}

.comment .box-btn{
  display: flex;
  margin-left: auto;
}

.comment .box-btn .btn{
  font-size: 0.85rem;
  font-weight: 500;
  color: #999;
  padding: 0;
  padding-right: 8px;
  margin-right: 8px;
  position: relative;
  background: none;
  font-family: "Nunito Sans", 'Pretendard', sans-serif;
  cursor: pointer;
}
.comment .box-btn .btn:focus{
  box-shadow: none;
}
.comment .box-btn .btn:last-child{
  margin-right: 0;
  padding-right: 0;
}
.comment .box-btn .btn::after{
  content: "";
  position: absolute;
  right: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 1px;
  height: 0.85rem;
  background: #dfdfdf;
}

.comment .box-btn .btn:last-child::after{
  display: none;
}

/* 히스토리 */
.history-swiper{
  margin-top: 2rem;
}
.history-swiper .swiper-slide{
  width: 270px;
  padding-top: 36px;
  cursor: pointer;
  /* border: 1px solid #000;
  border-radius: 1rem; */
}
.history-swiper .swiper-slide::before{
  content: "";
  width: 16px;
  height: 16px;
  border: 2px solid #a0a0a0;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  transition: 0.3s;
}
.history-swiper .swiper-slide::after{
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  transition: 0.3s;
}
.history-swiper .swiper-slide-active::before{
  border-color: #10c9c3;
}
.history-swiper .swiper-slide-active::after{
  background: #10c9c3;
}
.history-swiper::after{
  content: "";
  top: 9px;
  height: 2px;
  background: #a0a0a0;
  width: 100%;
  position: absolute;
  right: 0;
}
.history-swiper .swiper-slide h1{
  font-size: 20px;
  font-weight: 700;
  line-height: 1.55;
  opacity: 0.7;
  margin-top: 10px;
  margin-bottom: 15px;
  transition: opacity 0.3s;
  color: #000;
}

.history-swiper .swiper-slide strong{
  font-size: 14px;
  font-weight: 600;
  color: rgba(0,0,0,0.55);
  line-height: 1.9;
  opacity: 0.9;
  margin-top: 10px;
  transition: opacity 0.3s;
}

/* 코드 */
.info-list{
  margin-top: 0rem;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #dfdfdf;
  margin-top: 1rem;
}
.info-header{
  display: flex;
  height: 3rem;
  background: #f4fbfb;
}
.info-item{
  display: flex;
  gap: 0.85rem;
  align-items: center;
  border-bottom: 1px solid #dfdfdf;
  height: 3rem;
  margin-top: 0 !important;
}

.info-item .num{
  min-width: 4rem;
  width: 4rem;
  text-align: center;
  margin-bottom: 0;
  height: 100%;
  border-right: 1px solid #dfdfdf;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.info-item .code{
  margin-bottom: 0;
  height: 100%;
  padding-right: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
}

.info-item .info{
  margin-bottom: 0;
  height: 100%;
  padding-right: 1rem;
  flex: 1;
  display: flex;
  align-items: center;
}
.info-header .num{
  font-weight: 700;
  margin-bottom: 0;
}

.info-header .code{
  margin-bottom: 0;
  font-weight: 700;
}

.info-header .info{
  margin-bottom: 0;
  font-weight: 700;
}