<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
  
<!--
    Name: index.html
    Version: 0.1
    Description : 메인 페이지
    Author: 한승현
-->
  <head>
    <th:block th:replace="@{/include/header}"></th:block>
    <script>
      if (typeof navigator.serviceWorker !== 'undefined') {
        navigator.serviceWorker.register('pwabuilder-sw.js')
      }
    </script>
  </head>
  <body>
    <header class="nk-header nk-header-opaque">
      <th:block th:replace="@{/include/head}"></th:block>
    </header>
    <th:block th:replace="@{/include/mobile_body}"></th:block>
    <div class="nk-main bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="nk-gap-5 mnt-4"></div>
            <h2 class="display-4">Your Own Portfolio Site <span class="text-main">SelLF</span></h2>
            <div class="nk-gap mnt-5"></div>
            <p class="lead mb-30">직접 만든 나만의 포트폴리오 사이트</p>
          </div>
        </div>
      </div>
      <!-- START: Portfolio -->
      <div class="container">
        <!-- START: Filter -->
        <ul class="nk-isotope-filter nk-isotope-filter-active text-left">
          <li class="active" data-filter="*">All</li>
          <li th:data-filter="${category}" th:each="category:${categoryList}" th:text="${category}"></li>
          <li th:if="${session.role == 'admin'}" id="writeBtn">Write</li>
          <li th:onclick="push()" id="pushBtn">push</li>
        </ul>
      <!-- END: Filter -->
        <div class="nk-portfolio-list nk-isotope nk-isotope-2-cols nk-isotope-gap">

          <div class="nk-isotope-item" th:data-filter="${board.boardCategory}" th:each="board:${boardList}">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-4">
              <a th:href="${'/board/view/' + board.boardNo}" class="nk-portfolio-item-link"></a>
              <div class="nk-portfolio-item-image">
                <div th:style="'background-image: url('+${'/file/print/resizeImage.do?filename='+board.boardThumbnail}+');'"></div>
              </div>
              <div class="nk-portfolio-item-info">
                <div>
                  <h2 class="portfolio-item-title h5" th:text="${board.boardTitle}"></h2>
                  <div class="portfolio-item-title" th:text="${board.boardCreatedDate}"></div>
                  <div class="portfolio-item-category" th:text="${board.boardCategory}" ></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="nk-gap-4"></div>
      </div>
      <!-- END: Portfolio -->
      <th:block th:replace="@{/include/footer}"></th:block>
    </div>
    <script>
      $('#writeBtn').on('click', function() {
        location.href = "/board/admin"
      })
      const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
          toast.onmouseenter = Swal.stopTimer;
          toast.onmouseleave = Swal.resumeTimer;
        }
      });

      function push() {
        const permission = Notification.permission
        if(permission === 'granted') {
          Toast.fire({
            icon: "warning",
            title: "알림허용이 되어있습니다."
          });
        }
        else {
          Notification.requestPermission().then((permission) => {
            if (permission === 'granted') {
              $.ajax({
                    type: 'POST',
                    url: '/token/save.do',
                    data: {tokenId:currentToken},
                    dataType: 'json',
                    success : function(data) {
                      console.log('token save success')
                    }
              });
            }
          })
        }
      }
    </script>
  </body>
</html>