<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<!--
    Name: index.html
    Version: 0.1
    Description : 메인 페이지
    Author: 한승현
-->
  <head>
    <th:block th:replace="@{/include/header}"></th:block>
  </head>
  <body>
    <header class="nk-header nk-header-opaque">
      <th:block th:replace="@{/include/head}"></th:block>
    </header>
    <th:block th:replace="@{/include/mobile_body}"></th:block>
    <div class="nk-main bg-white">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="nk-gap-5 mnt-4"></div>
            <h2 class="display-4">Your Own Portfolio Site <span class="text-main">SelLF</span></h2>
            <div class="nk-gap mnt-5"></div>
            <p class="lead mb-30">직접 만든 나만의 포트폴리오 사이트</p>
          </div>
        </div>
      </div>
      <!-- START: Portfolio -->
      <div class="container">
        <!-- START: Filter -->
        <ul class="nk-isotope-filter nk-isotope-filter-active text-left">
          <li class="active" data-filter="*">All</li>
          <li data-filter="Branding">Branding</li>
          <li data-filter="Print">Print</li>
          <li data-filter="Design">Design</li>
          <li th:if="${session.role == 'admin'}" id="writeBtn">Write</li>
        </ul>
      <!-- END: Filter -->
        <div class="nk-portfolio-list nk-isotope nk-isotope-2-cols nk-isotope-gap">

          <div class="nk-isotope-item" data-filter="Design" th:each="board:${boardList}">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-4">
              <a th:href="${'/board/view/' + board.boardNo}" class="nk-portfolio-item-link"></a>
              <div class="nk-portfolio-item-image">
                <div th:style="'background-image: url('+${'/file/print/image.do?filename='+board.boardThumbnail}+');'"></div>
              </div>
              <div class="nk-portfolio-item-info">
                <div>
                  <h2 class="portfolio-item-title h5" th:text="${board.boardTitle}"></h2>
                  <div class="portfolio-item-category">Design</div>
                </div>
              </div>
            </div>
          </div>

          <!-- <div class="nk-isotope-item" data-filter="Print">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-4">
              <a href="work-single-4.html" class="nk-portfolio-item-link"></a>
              <div class="nk-portfolio-item-image">
                <div th:style="'background-image: url('+@{/file/print/image.do?filename=b4528221bc6b48298e8b1dabae010cde.jpg}+');'"></div>
              </div>
              <div class="nk-portfolio-item-info">
                <div>
                  <h2 class="portfolio-item-title h5">Glass Bottle</h2>
                  <div class="portfolio-item-category">Print</div>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-isotope-item" data-filter="Branding">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-4">
              <a href="work-single-3.html" class="nk-portfolio-item-link"></a>
              <div class="nk-portfolio-item-image">
                <div th:style="'background-image: url('+@{/resources/images/examples/portfolio-8-sm.jpg}+');'"></div>
              </div>
              <div class="nk-portfolio-item-info">
                <div>
                  <h2 class="portfolio-item-title h5">Shampoo Bottle</h2>
                  <div class="portfolio-item-category">Branding</div>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-isotope-item" data-filter="Branding">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-4">
              <a href="work-single-3.html" class="nk-portfolio-item-link"></a>
              <div class="nk-portfolio-item-image">
                <div th:style="'background-image: url('+@{/resources/images/examples/portfolio-3-sm.jpg}+');'"></div>
              </div>
              <div class="nk-portfolio-item-info">
                <div>
                  <h2 class="portfolio-item-title h5">Hardcover Book</h2>
                  <div class="portfolio-item-category">Branding</div>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-isotope-item" data-filter="Design">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-4">
              <a href="work-single-3.html" class="nk-portfolio-item-link"></a>
              <div class="nk-portfolio-item-image">
                <div th:style="'background-image: url('+@{/resources/images/examples/portfolio-7-sm.jpg}+');'"></div>
              </div>
              <div class="nk-portfolio-item-info">
                <div>
                  <h2 class="portfolio-item-title h5">Honey Mockup</h2>
                  <div class="portfolio-item-category">Design</div>
                </div>
              </div>
            </div>
          </div>
          <div class="nk-isotope-item" data-filter="Print">
            <div class="nk-portfolio-item nk-portfolio-item-info-style-4">
              <a href="work-single-3.html" class="nk-portfolio-item-link"></a>
                <div class="nk-portfolio-item-image">
                  <div th:style="'background-image: url('+@{/resources/images/examples/portfolio-11-sm.jpg}+');'"></div>
                </div>
                <div class="nk-portfolio-item-info">
                <div>
                  <h2 class="portfolio-item-title h5">Cardboard Boxes</h2>
                  <div class="portfolio-item-category">Print</div>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="nk-gap-4"></div>
      </div>
      <!-- END: Portfolio -->
      <th:block th:replace="@{/include/footer}"></th:block>
    </div>

    <script>
      $('#writeBtn').on('click', function() {
        location.href = "/board/admin"
      })
    </script>
  </body>
</html>